.about {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0;
  font-size: var(--font-size-medium);
  line-height: 1.7;
  text-align: left;
}

.about p {
  color: var(--black);
}

.about strong {
  font-weight: 700;
}
