.article {
  line-height: 1.3;

  header {
    margin-bottom: 35px;

    h1 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 0px;
    }

    img {
      margin-bottom: 0px;
    }
  }

  h1 {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: var(--font-size-large);
  }

  h2 {
    font-weight: 700;
    font-size: var(--font-size-medium);
    margin-bottom: 15px;
    margin-top: 30px;
  }

  h3 {
    font-weight: 700;
    font-size: var(--font-size-medium);
    margin-bottom: 15px;
    margin-top: 25px;
  }

  p,
  hr,
  img,
  blockquote,
  pre {
    margin-bottom: 15px;
  }

  ul {
    list-style: circle;
    padding-left: 50px;
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 10px;
  }

  hr {
    height: 1px;
    border: none;
    background: var(--grey-lighter);
  }

  img {
    height: auto;
    max-width: 100%;
  }

  strong {
    font-weight: 600;
  }

  blockquote {
    margin-left: -25px;
    padding-left: 25px;
    font-style: italic;
    font-size: var(--font-size-medium);
    border-left: 5px solid var(--black);
  }

  li:not(:last-of-type) a:only-child {
    margin-bottom: -10px;
    display: block;
  }
}
