.article {
  line-height: 1.3;
}

.article header {
  margin-bottom: 35px;
}

.article header h1 {
  margin-bottom: 10px;
}

.article header p {
  margin-bottom: 0px;
}

.article header img {
  margin-bottom: 0px;
}

.article h1 {
  font-weight: 700;
  margin-bottom: 0px;
  font-size: var(--font-size-large);
}

.article h2 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  margin-bottom: 15px;
  margin-top: 30px;
}

.article h3 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  margin-bottom: 15px;
  margin-top: 25px;
}

.article p,
.article hr,
.article img,
.article blockquote,
.article pre {
  margin-bottom: 15px;
}

.article ul {
  list-style: circle;
  padding-left: 50px;
  margin-bottom: 10px;
}

.article li {
  margin-bottom: 10px;
}

.article hr {
  height: 1px;
  border: none;
  background: var(--grey-lighter);
}

.article img {
  height: auto;
  max-width: 100%;
}

.article strong {
  font-weight: 600;
}

.article blockquote {
  margin-left: -25px;
  padding-left: 25px;
  font-style: italic;
  font-size: var(--font-size-medium);
  border-left: 5px solid var(--black);
}

.article li:not(:last-of-type) a:only-child {
  margin-bottom: -10px;
  display: block;
}
