.articles {
  margin: 0 0 20px;

  article {
    display: flex;
    margin-bottom: 8px;
    padding-bottom: 8px;
    justify-items: center;
    border-bottom: 3px dotted var(--grey-lighter);

    &:last-child {
      margin-bottom: 0px;
      border-bottom: none;
    }

    h2 {
      font-weight: 700;
      font-size: var(--font-size-medium);
      line-height: 1.3;
    }

    a {
      flex: 1;
      display: flex;
      align-items: center;
      color: var(--black);
      justify-content: space-between;
      border-bottom: none;

      &:hover {
        color: var(--white);
        background: var(--pink);

        time {
          color: var(--white);
        }
      }
    }

    time {
      color: var(--grey);
    }
  }
}
