.articles {
  margin: 0;
}

.articles article {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 8px;
  justify-items: center;
  border-bottom: 3px dotted var(--grey-lighter);
}

.articles article:last-child {
  border-bottom: none;
}

.articles article h2 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  line-height: 1.3;
}

.articles article a {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--black);
  justify-content: space-between;
  border-bottom: none;
}

.articles article a:hover {
  color: var(--white);
  background: var(--pink);
}

.articles article a:hover time {
  color: var(--white);
}

.articles article time {
  color: var(--grey);
}
