.author {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  border-bottom: 3px dotted var(--black);
}

.author p {
  color: var(--grey);
  font-size: var(--font-size-small);
}

.author h1 {
  font-weight: 700;
  margin: 15px 0 10px;
  font-size: var(--font-size-large);
}

.author img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.author--is-small {
  margin-bottom: 0px;
  padding-bottom: 0px;
  flex-direction: row;
  border-bottom: none;
}

.author--is-small img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.about {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0;
  font-size: var(--font-size-medium);
  line-height: 1.7;
  text-align: left;
}

.about p {
  color: var(--black);
}

.about strong {
  font-weight: 700;
}
