.social {
  display: flex;
  flex-flow: row;
}

.social a {
  margin-left: 5px;
}

.social a.resume {
  margin-left: 10px;
  margin-top: 2px;
  font-weight: 600;
  font-size: 1.2rem;
}

.social img {
  width: 20px;
  height: 20px;
}
