 table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

th,
td {
  border: 1px solid var(--grey-lighter);
  padding: 0.6rem;
  text-align: left;
}

th {
  font-weight: 700;
  background: var(--grey-lighter);
}
