:root {
  --white: #fff;
  --black: #232333;
  --grey: #a5a5a5;
  --grey-lighter: #f2f2f2;
  --blue: #5694f1;
  --pink: #eb298c;
  --font-family-mono: "Roboto Mono", "Courier New", monospace;
  --font-size-base: .9em;
  --font-size-small: .85em;
  --font-size-medium: 1em;
  --font-size-large: 1.5em;
  --container-width: 720px;
  --container-width-large: 720px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-base);
  font-weight: 550;
  line-height: 1.3;
}

a {
  color: var(--black);
  border-bottom: 1px solid var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--white);
  background: var(--pink);
  border-bottom-color: var(--pink);
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 20px;
}

.container--is-large {
  max-width: var(--container-width-large);
}

code {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-small);
  background: var(--grey-lighter);
  padding: 2px 4px;
}

.author {
  border-bottom: 3px dotted var(--black);
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
}

.author p {
  color: var(--grey);
  font-size: var(--font-size-small);
}

.author h1 {
  font-weight: 700;
  font-size: var(--font-size-large);
  margin: 15px 0 10px;
}

.author img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.author--is-small {
  border-bottom: none;
  flex-direction: row;
  margin-bottom: 0;
  padding-bottom: 0;
}

.author--is-small img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.articles {
  margin: 0 0 20px;
}

.articles article {
  border-bottom: 3px dotted var(--grey-lighter);
  justify-items: center;
  margin-bottom: 8px;
  padding-bottom: 8px;
  display: flex;
}

.articles article:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.articles article h2 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  line-height: 1.3;
}

.articles article a {
  color: var(--black);
  border-bottom: none;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.articles article a:hover {
  color: var(--white);
  background: var(--pink);
}

.articles article a:hover time {
  color: var(--white);
}

.articles article time {
  color: var(--grey);
}

.article {
  line-height: 1.3;
}

.article header {
  margin-bottom: 35px;
}

.article header h1 {
  margin-bottom: 10px;
}

.article header p, .article header img {
  margin-bottom: 0;
}

.article h1 {
  font-weight: 700;
  font-size: var(--font-size-large);
  margin-bottom: 0;
}

.article h2 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  margin-top: 30px;
  margin-bottom: 15px;
}

.article h3 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  margin-top: 25px;
  margin-bottom: 15px;
}

.article p, .article hr, .article img, .article blockquote, .article pre {
  margin-bottom: 15px;
}

.article ul {
  margin-bottom: 10px;
  padding-left: 50px;
  list-style: circle;
}

.article li {
  margin-bottom: 10px;
}

.article hr {
  background: var(--grey-lighter);
  border: none;
  height: 1px;
}

.article img {
  max-width: 100%;
  height: auto;
}

.article strong {
  font-weight: 600;
}

.article blockquote {
  font-style: italic;
  font-size: var(--font-size-medium);
  border-left: 5px solid var(--black);
  margin-left: -25px;
  padding-left: 25px;
}

.article li:not(:last-of-type) a:only-child {
  margin-bottom: -10px;
  display: block;
}

.social {
  flex-flow: row;
  display: flex;
}

.social a {
  margin-left: 5px;
}

.social a.resume {
  margin-top: 2px;
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.social img {
  width: 20px;
  height: 20px;
}

.footer {
  border-top: 3px dotted var(--black);
  color: var(--grey);
  font-size: var(--font-size-small);
  margin-top: 40px;
  padding-top: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

th, td {
  border: 1px solid var(--grey-lighter);
  text-align: left;
  padding: .6rem;
}

th {
  background: var(--grey-lighter);
  font-weight: 700;
}
/*# sourceMappingURL=index.css.map */
