{{ define "content" }}

<div class="max-w-xl mx-auto py-12 px-5">
    <main>
        <header>
            <a href="/">Back</a>
            <h1>Talks</h1>
        </header>

        {{ $talks := where .Site.RegularPages "Section" "talk" }}
        {{ $talksByYear := $talks.GroupByDate "2006" }}

        {{ range $talksByYear }}
        <section>
            <h2>{{ .Key }}</h2>
            <div>
                {{ range .Pages.ByDate.Reverse }}
                <article>
                    <div>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        {{ with .Params.event }}<span>@ {{ . }}</span>{{ end }}
                        <span>- {{ .Date.Format "January 2" }}</span>
                    </div>
                    <div>
                        {{ with .Params.slides }}<a href="{{ . }}">slides</a>{{ end }}
                        {{ with .Params.video }}<a href="{{ . }}">video</a>{{ end }}
                    </div>
                </article>
                {{ end }}
            </div>
        </section>
        {{ end }}
    </main>
    {{ partial "footer" .}}
</div>

{{ end }}
