{{ define "content" }}

{{ $avatar := resources.Get "output/avatar.png" }}
{{ $github := resources.Get "output/github.png" }}
{{ $linkedin := resources.Get "output/linkedin.png" }}
{{ $twitter := resources.Get "output/x.png" }}
{{ $rss := resources.Get "output/rss.png" }}

<div class="container">
    <aside class="author">
        <img src="{{ $avatar.Permalink | relURL }}" alt="Avatar" />

        <h1>{{ .Site.Params.author }} </h1>
        <p class="social">
            <a href="https://github.com/vtemian">
                <img src="{{ $github.Permalink | relURL }}" alt="github" />
            </a>

            <a href="https://www.linkedin.com/in/vtemian">
                <img src="{{ $linkedin.Permalink | relURL }}" alt="linkedin" />
            </a>

            <a href="https://www.twitter.com/vtemian">
                <img src="{{ $twitter.Permalink | relURL }}" alt="twitter" />
            </a>

            <a href="index.xml">
                <img src="{{ $rss.Permalink | relURL }}" alt="rss" />
            </a>

            <a href="/resume.pdf" class="resume">
                CV
            </a>

        </p>

    </aside>

    <main class="articles">
	    {{ range where (.Site.RegularPages.ByDate.Reverse) "Section" "post" }}
	    <article>
		<a href="{{ .RelPermalink }}">
		    <h2>{{ .Title }}</h2>
		    <time>{{ .Date.Format "02 Jan 2006" }}</time>
		</a>
	    </article>
	    {{ end }}
    </main>

    {{ partial "footer" .}}

</div>

{{ end }}
