{{ define "content" }}

{{ $avatar := resources.Get "output/avatar.png" }}

<div class="container container--is-large">
    <main class="article">
        <article>
            <header>
                <a href="/">&larr; Go back</a>
                <h1>{{ .Title }}</h1>

                <aside class="author author--is-small">
                    <img src="{{ $avatar.Permalink | relURL }}" />
                    <div>
                        <h4>{{ .Site.Params.author }} </h4>
                        <p>{{ .Date.Format "02 Jan 2006" }}</p>
                    </div>
                </aside>
            </header>
            <p>
                {{ .Content }}
            </p>
        </article>
    </main>
    {{ partial "footer" .}}
</div>

{{ end }}
