body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-base);
  font-weight: 550;
  line-height: 1.3;
}

a {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--blue);

  &:hover {
    color: var(--white);
    background: var(--pink);
    border-bottom-color: var(--pink);
  }
}

.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: var(--container-width);

  &--is-large {
    max-width: var(--container-width-large);
  }
}

code {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-small);
  background: var(--grey-lighter);
  padding: 2px 4px;
}
