:root {
  --white: #ffffff;
  --black: #232333;
  --grey: #a5a5a5;
  --grey-lighter: #f2f2f2;
  --blue: #5694f1;
  --pink: #eb298c;

  --font-family-mono: "Roboto Mono", "Courier New", monospace;

  --font-size-base: 0.9em;
  --font-size-small: 0.85em;
  --font-size-medium: 1em;
  --font-size-large: 1.5em;

  --container-width: 720px;
}
