/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  --white: #ffffff;
  --black: #232333;
  --grey: #a5a5a5;
  --grey-lighter: #f2f2f2;
  --blue: #5694f1;
  --pink: #eb298c;

  --font-family-mono: "Roboto Mono", "Courier New", monospace;

  --font-size-base: 0.9em;
  --font-size-small: 0.85em;
  --font-size-medium: 1em;
  --font-size-large: 1.5em;

  --container-width: 720px;
}

/* ==========================================================================
   Reset
   ========================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration-skip-ink: auto;
}

ol, ul {
  list-style: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-base);
  font-weight: 550;
  line-height: 1.3;
}

a {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
}

a:hover {
  color: var(--white);
  background: var(--pink);
  border-bottom-color: var(--pink);
}

.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: var(--container-width);
}

code {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-small);
  background: var(--grey-lighter);
  padding: 2px 4px;
}

/* ==========================================================================
   Author
   ========================================================================== */

.author {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  border-bottom: 3px dotted var(--black);
}

.author p {
  color: var(--grey);
  font-size: var(--font-size-small);
}

.author h1 {
  font-weight: 700;
  margin: 15px 0 10px;
  font-size: var(--font-size-large);
}

.author img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.author--is-small {
  margin-bottom: 0px;
  padding-bottom: 0px;
  flex-direction: row;
  border-bottom: none;
}

.author--is-small img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.about {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0;
  font-size: var(--font-size-medium);
  line-height: 1.7;
  text-align: left;
}

.about p {
  color: var(--black);
}

.about strong {
  font-weight: 700;
}

/* ==========================================================================
   Articles (list)
   ========================================================================== */

.articles {
  margin: 0;
}

.articles article {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 8px;
  justify-items: center;
  border-bottom: 3px dotted var(--grey-lighter);
}

.articles article:last-child {
  border-bottom: none;
}

.articles article h2 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  line-height: 1.3;
}

.articles article a {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--black);
  justify-content: space-between;
  border-bottom: none;
}

.articles article a:hover {
  color: var(--white);
  background: var(--pink);
}

.articles article a:hover time {
  color: var(--white);
}

.articles article time {
  color: var(--grey);
}

/* ==========================================================================
   Article (single)
   ========================================================================== */

.article {
  line-height: 1.3;
}

.article header {
  margin-bottom: 35px;
}

.article header h1 {
  margin-bottom: 10px;
}

.article header p {
  margin-bottom: 0px;
}

.article header img {
  margin-bottom: 0px;
}

.article h1 {
  font-weight: 700;
  margin-bottom: 0px;
  font-size: var(--font-size-large);
}

.article h2 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  margin-bottom: 15px;
  margin-top: 30px;
}

.article h3 {
  font-weight: 700;
  font-size: var(--font-size-medium);
  margin-bottom: 15px;
  margin-top: 25px;
}

.article p,
.article hr,
.article img,
.article blockquote,
.article pre {
  margin-bottom: 15px;
}

.article ul {
  list-style: circle;
  padding-left: 50px;
  margin-bottom: 10px;
}

.article li {
  margin-bottom: 10px;
}

.article hr {
  height: 1px;
  border: none;
  background: var(--grey-lighter);
}

.article img {
  height: auto;
  max-width: 100%;
}

.article strong {
  font-weight: 600;
}

.article blockquote {
  margin-left: -25px;
  padding-left: 25px;
  font-style: italic;
  font-size: var(--font-size-medium);
  border-left: 5px solid var(--black);
}

.article li:not(:last-of-type) a:only-child {
  margin-bottom: -10px;
  display: block;
}

/* ==========================================================================
   Social
   ========================================================================== */

.social {
  display: flex;
  flex-flow: row;
}

.social a {
  margin-left: 5px;
}

.social a.resume {
  margin-left: 10px;
  margin-top: 2px;
  font-weight: 600;
  font-size: 1.2rem;
}

.social img {
  width: 20px;
  height: 20px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  padding-top: 40px;
  border-top: 3px dotted var(--black);
  color: var(--grey);
  font-size: var(--font-size-small);
}

/* ==========================================================================
   Table
   ========================================================================== */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

th,
td {
  border: 1px solid var(--grey-lighter);
  padding: 0.6rem;
  text-align: left;
}

th {
  font-weight: 700;
  background: var(--grey-lighter);
}
